.header,
.header__inner {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  height: 6.25rem;
}
.header__title {
  font-size: 1.3125rem;
  font-weight: 700;
  margin-right: 3.75rem;
  color: #414c63;
}

.header__menu {
  width: 100%;
  @include tablets {
    display: none;
  }
}

.header__inner{
  width: 100%;
}

.header__buttons {
  @include phones {
    display: none;
  }
}


