.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills > .item {
  width: calc(50% - 15px);
  margin-bottom: 30px;
  @include tablets{
    width: 100%;
  }
}

.skills__item {
  width: 100%;
}
