.skill-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  height: 41px;

  .inputs {
    display: flex;
    flex:1;

    .title {
      width: 70%;
      margin-right: 10px;
    }
  }


}


