script(type="text/x-template")#works-container
    .works-slider(v-if="works.length")
        //pre {{works}}
        display(
            :currentWork="currentWork"
            :works="works"
            :currentIndex="currentIndex"
            @slide="slide"
            )
        info(:currentWork="currentWork")

script(type="text/x-template")#preview-display
    .works-slider__pics(:data-slide="currentIndex.index + 1")
        .works-slider__pics-content
            //pre {{currentWork.photo}}
            //pre {{currentIndex.index}}
            img(:src="currentWork.photo").works-slider__thumb
            btns(
                @slide="$emit('slide',$event)"
            )
            thumbs(
                :works="reversedWorks"
                :currentWork="currentWork"
                )

script(type="text/x-template")#preview-thumbs
    .works-slider__thumbs
        transition-group(
            tag="ul"
            :css="false"


            @enter="enterCb"
            @after-enter="afterCb"
            @leave="leaveCb"


        ).list
            li.works-slider__thumb-item(
                v-for="slide in spliceSlides" :key="slide.id"
                )
                button.works-slider__thumb-link
                    img(:src="slide.photo").works-slider__thumb

script(type="text/x-template")#preview-btns
    .works-slider__buttons
        button(
            type="button"
            @click="$emit('slide','next')"
            ).works-slider__btn.works-slider__btn_next
        button(
            type="button"
            @click="$emit('slide','prev')"
            :disabled="disabled"
            ).works-slider__btn.works-slider__btn_prev



script(type="text/x-template")#preview-info
    .works-slider__data
        tags(
            :tags="tagsArray"
            )

        //ul.works-slider__tags
        //    li.works-slider__tag-item(v-for="tag in tagsArray")
        //        .tag {{tag}}

        .works-slider__title {{currentWork.title}}
        .works-slider__desc
            p {{currentWork.description}}
        .works-slider__link
            a(:href="currentWork.link").iconed-link Посмотреть сайт

script(type="text/x-template")#preview-tag
    ul.works-slider__tags
        li.works-slider__tag-item(v-for="tag in tags")
            .tag {{tag}}
