.inputs {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.skillAddLine-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

