.bottom-line {
    padding-top: 70px;
    margin-top: auto;
    padding-left: 25%;
    @media(max-width:768px){
        padding-left: 0;
    }
    @media(max-width:480px){
        width: 100%;
        padding-left: 0;
    }

}

